* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('background.jpg');
  font-size: 2rem;
}

.border {
  background-color: rgb(233, 159, 217);
  padding: 1rem;
  margin: 6rem;
  border-radius: 2rem;
}
.header {
  color: rgb(8, 93, 251);
  text-align: center;
  padding: '10px';
  font-size: 2.5rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.todoList {
  display: flexbox;
  text-align: center;
  font-size: 2rem;
}
a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
}
.inputField {
  width: 20rem;
  padding: 0.45rem;
  margin: 1rem;
  font-size: 1.5rem;
}
.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 0.6rem 2rem;
  cursor: pointer;
  margin: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
}

.btn:hover {
  background: #666;
}
